<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-3">
        <h2><b><%=listing.title%></b></h2>
    </div>    
    <div class="card col-6 offset-3 show-card">
        <hr>
        <img src="<%=listing.image%>" class="card-img-top show-img" alt="listing_image">
        <div class="card-body">
            <p class="card-text">
                <%=listing.desc%> <br> <br>
                &#8377;<%=listing.price.toLocaleString("en-IN")%>/night <br>
                <%=listing.loc%>, <br>
                <%=listing.country%></p>
        </div>
    </div>
</div>
<div class="btns mb-3">
    <a href="/listings/<%=listing._id%>/edit" class="btn btn-dark edit-btn col-1 offset-3">Edit</a>
    <form method="post" action="/listings/<%=listing._id%>?_method=DELETE">
        <button class="btn btn-dark delete-btn offset-5">Delete</button>
    </form>
</div>
<div class="col-8 offset-3 mb-3">
    <hr>
    <h4>Leave a review</h4>
    <form>
        <div class="mb-3 mt-3">
            <label for="rating" class="form-label">Rating</label>
            <input name="review[rating]" class="form-range" type="range" min="1" max="5">
        </div>
        <div class="mb-3 mt-3">
            <label for="comment" class="form-label">Comments</label>
            <textarea name="review[comment]" class="form-control" id="comment" rows="5" cols="30"></textarea>
        </div>
        <button class="btn btn-outline-dark">Submit</button>
    </form>
</div>