<% layout("/layouts/boilerplate") %>
<script>
    const mapToken = "<%=process.env.MAP_TOKEN%>";
    const listing = <%-JSON.stringify(listing)%>;
</script>
<div class="row mt-3">
    <div class="col-8 offset-3">
        <h2><b><%=listing.title%></b></h2>
    </div>    
    <div class="card col-6 offset-3 show-card listing-card">
        <hr>
        <img src="<%=listing.image.url%>" class="card-img-top show-img" alt="listing_image">
        <div class="card-body">
            <p class="card-text">Owned by: <i><%=listing.owner.username%></i></p>
            <p class="card-text">
                <%=listing.desc%> <br> <br>
                &#8377;<%=listing.price.toLocaleString("en-IN")%>/night <br>
                <%=listing.loc%>, <br>
                <%=listing.country%>
                <% if(currUser && !currUser._id.equals(listing.owner._id)){ %>
                <a href="/listings/<%=listing._id%>/edit" class="btn btn-dark edit-btn col-1 offset-3 bookingDiv">Book Now</a>
                <% } %>
            </p>
        </div>
    </div>
</div>
<% if(currUser && currUser._id.equals(listing.owner._id)){ %>
<div class="btns mb-3">
    <a href="/listings/<%=listing._id%>/edit" class="btn btn-dark edit-btn col-1 offset-3">Edit</a>
    <form method="post" action="/listings/<%=listing._id%>?_method=DELETE">
        <button class="btn btn-dark delete-btn offset-5">Delete</button>
    </form>
</div>
<% } %>
<div class="col-8 offset-3 mb-3">
    <% if(currUser){ %>
    <hr>
    <h4>Leave a review</h4>
    <form method="post" action="/listings/<%=listing._id%>/reviews" novalidate class="needs-validation">
        <div class="mb-3 mt-3">
            <label for="rating" class="form-label">Rate Us</label>
            <div class="star-input">
                <i class="fa-solid fa-star si" id="a"></i>
                <i class="fa-solid fa-star si" id="b"></i>
                <i class="fa-solid fa-star si" id="c"></i>
                <i class="fa-regular fa-star si" id="d"></i>
                <i class="fa-regular fa-star si" id="e"></i>
            </div>
            <input name="review[rating]" class="form-range real-star" type="range" min="1" max="5">
        </div>
        <div class="mb-3 mt-3">
            <label for="comment" class="form-label">Comments</label>
            <textarea name="review[comment]" class="form-control" id="comment" rows="5" cols="30" required></textarea>
            <div class="invalid-feedback">Please add a review</div>
        </div>
        <button class="btn btn-outline-dark">Submit</button>
    </form>
    <% } %>
    <hr>
    <% if(listing.reviews.length > 0) { %>
        <div class="row">
            <h4>All reviews</h4>
            <% for(let review of listing.reviews){ %>
                <div class="card col-5 ms-3 mb-3 review-card pb-3 pt-3">
                    <div class="card-body">
                        <h5 class="card-title">@<%= review.author.username %></h5>
                        <p class="card-text"><%= review.comment %></p>
                        <div class="star-del row">
                            <div class="star col-5">
                                <% let stars = review.rating %>
                                <% for(let i=0; i<stars; i++){ %>
                                    <i class="fa-solid fa-star"></i>
                                <% } %>
                                <% for(let i=0; i< 5-stars; i++){ %>
                                    <i class="fa-regular fa-star"></i>
                                <% } %>
                            </div>
                            <% if(currUser && currUser._id.equals(review.author._id)){ %>
                            <div class="del col-4 offset-3">
                                <form method="post" action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE">
                                    <button class="btn btn-dark">Delete</button>
                                </form>
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    <% } %>
</div>
<div class="col-8 offset-3 mb-3">
    <h3>Where you'll be</h3>
    <div id="map"></div>
</div>
<script src="/js/show.js"></script>